.main {
  background-color: var(--bg-primary);
  position: relative;
  font-family: var(--ff-primary);
  font-style: normal;
  color: var(--fg-primary);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto min-content;
  grid-template-columns: minmax(auto, var(--max-width-app));
  justify-content: center;
}

.container {
  width: 100%;
}
