<!DOCTYPE html>
<html lang="en" style="align: center">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body style="align: center; margin: 10px auto; max-width: 80%">
    <div
      style="
        border-style: solid;
        border-width: thin;
        border-color: #dadce0;
        border-radius: 8px;
        padding: 40px 20px;
      "
      align="center"
      class="m_-821533581934671015mdv2rw"
    >
      <img
        src="https://static.wixstatic.com/media/02fd0f_0f43b914b94c48799759d3d0f1b288c2~mv2.png/v1/fill/w_44,h_44,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/icon.png"
        width="44"
        height="44"
        aria-hidden="true"
        style="margin-bottom: 16px"
        alt="Google"
        data-bit="iit"
      />
      <div
        style="
          font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial,
            sans-serif;
          border-bottom: thin solid #dadce0;
          color: rgba(0, 0, 0, 0.87);
          line-height: 32px;
          padding-bottom: 24px;
          text-align: center;
          word-break: break-word;
        "
      >
        <p style="font-size: 24px; max-width: 50%; margin: 0 auto">
          You have received this email because you have started registration on
          the SITE
        </p>
      </div>
      <div
        style="
          font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.87);
          line-height: 20px;
          padding: 40px 0 15px 0;
          text-align: center;
        "
      >
        Your verify code is
      </div>
      <span style="font-size: 17px; line-height: 22px">${code}</span>
    </div>
    <div>
      <div
        style="
          font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
          color: rgba(0, 0, 0, 0.54);
          font-size: 11px;
          line-height: 18px;
          padding-top: 12px;
          text-align: center;
        "
      >
        <div>
          If you have not registered on the SITE, then just ignore this email
        </div>
        <div style="direction: ltr">
          © 2023 Coin Experts EOOD -
          <a
            class="m_-821533581934671015afal"
            style="
              font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
              color: rgba(0, 0, 0, 0.54);
              font-size: 11px;
              line-height: 18px;
              padding-top: 12px;
              text-align: center;
            "
            >Republic of Bulgaria, Sofia 1797, Studentski District, zh.k.
            Musagenitsa, bl. 91B, entr.A, ap.14</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
